/* apply a margin of 0 to the entire body as a base to override browser defaults */
body {
    margin:0;
    font-family:Arial
}

article, h1 {
    margin-left: 20px;
}

/* what does the navigation bar look like, and where is it */
.navbar {
    background-color: black;
    overflow: auto;
}

/* all navigation bar link elements a */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* this turns off the link natural underline behavior */
}

/* the div with a class of dropdown contains both button and the dropdown list */
.dropdown {
    float: left;
    overflow: auto;
}

/* specify the class dropdown then the class dropbutton inside it. */
.dropdown .dropbutton {
    font-size: 16px;    
    border: none; 
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* When the mouse hovers over a menu item, either <a> or .dropdown change the color */
.navbar a:hover, .dropdown:hover .dropbutton {
    background-color: gray;
}

/* use and absolute position to show the dropdown menu */
/* to make sure the dropdown is not visible to start display: none */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* also show gray when hovering over dropdown menu items */
.dropdown-content a:hover {
    background-color: gray;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* add an active class to heighlight the current page */
.activemenuitem {
    background-color: green;
}
