.navbar {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 200px;
}

.dropbutton {
    display: none;
}

.navbar a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-align: center;
}

.navbar a:hover {
    background-color: gray;
}